{% extends 'base.html' %}
{% block content %}



    Hi.  There should be a total of {{puntos}} Locations.<br />
    To see this data in Google Earth, <a href="/kml/">Open as KML</a>.
    
<div id="map" style="width: 500px; height:400px;">
</div>
<script type="text/javascript">
            var map = new OpenLayers.Map("map",{projection: new OpenLayers.Projection("EPSG:4326"),zoom:1});

            //map.setCenter(lonlat = new OpenLayers.LonLat(-65.7833, -28.4667),zoom=8);
            //var wms = new OpenLayers.Layer.WMS( "OpenLayers WMS","http://vmap0.tiles.osgeo.org/wms/vmap0?", {layers: 'basic'} );
            //var nasa= new OpenLayers.Layer.WMS(" NASA WMS", "http://wms.jpl.nasa.gov/wms/cgi?",{layers:"BMNG",format:"image/png"},{isBaseLayer:true});
            //kml = new OpenLayers.Layer.GML("KML", "/kml/",{ format: new OpenLayers.Format.KML() });
            
            var osm = new OpenLayers.Layer.OSM();
            var layer = new OpenLayers.Layer.Vector("GML", {
                strategies: [new OpenLayers.Strategy.Fixed()],
                protocol: new OpenLayers.Protocol.HTTP({
                    url: "/jsongeo/",
                format: new OpenLayers.Format.GeoJSON()
                })
            });
            map.addLayers([osm,layer]);
            //map.zoomToMaxExtent();
        
    </script>

{% endblock%}