{% extends "base.html" %}
{% load leaflet_tags %}
{% load geojson_tags %}

{% block extra_assets %}
  {% leaflet_js %}
  {% leaflet_css %}
{% endblock %}

{% block content %}
	{% leaflet_map "spots" callback="window.map_init" %}
    <script type="text/javascript">
       
    function main_map_init (map, options) {

    var dataurl = "127.0.0.1:8000/data";
    // Download GeoJSON via Ajax
    $.getJSON(dataurl, function (data) {
        // Add GeoJSON layer
        L.geoJson(data).addTo(map);
    });

}
    </script>

    

{% endblock %}