{% extends 'base.html' %}
<h1>gmaps-lineas</h1>
{% block content %}

    
    <div id="map_canvas" style="width:100%; height:100%"></div>
<script type="text/javascript">
      	var poligonos={{data|safe}};
        var mapOptions = {
          center: new google.maps.LatLng({{lat}}, {{lon}}),
          zoom: 12,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };
        var map = new google.maps.Map(document.getElementById("map_canvas"),
            mapOptions);

         for(key in poligonos.features){
            var cord = poligonos.features[key].geometry.coordinates
            for(c in cord){ 

              var array = cord[c[0]];
              for (i in array){
                console.log(array[i][0]);
                console.log(array[i][1]);
              }
          }
      }

      for(key in poligonos.features){
            var cord = poligonos.features[key].geometry.coordinates
            for(c in cord){
              var array = cord[c[0]];
              var poli= [];
              for (i in array){
                poli[i] = new google.maps.LatLng(array[i][1],array[i][0]);  

              }
              bermudaTriangle = new google.maps.Polygon({
                paths: poli,
                strokeColor: "#FF0000",
                strokeOpacity: 0.8,
                strokeWeight: 2,
                fillColor: "#FF0000",
                fillOpacity: 0.35
              });

            bermudaTriangle.setMap(map);  
            }
            
      }
      function imprimirgmap(){
        var content = window.document.getElementById("map_canvas"); // get you map details
        var newWindow = window.open(); // open a new window
        newWindow.document.write(content.innerHTML); // write the map into the new window
        newWindow.print(); // print the new window
      }
    </script>
{{data}}
{{lon}}
{{lat}}
<div id="map" style="width: 500px; height:400px;">
</div>
<script type="text/javascript">
map = new OpenLayers.Map('map');
    layer = new OpenLayers.Layer.OSM( "Simple OSM Map");
    map.addLayer(layer);
    map.setCenter(
        new OpenLayers.LonLat({{lon }}, {{ lat }}).transform(
            new OpenLayers.Projection("EPSG:4326"),
            map.getProjectionObject()
        ), 11);
    //primero el vector
    vectors = new OpenLayers.Layer.Vector("Vector Layer");
    
    map.addControl(new OpenLayers.Control.DrawFeature(vectors, OpenLayers.Handler.Polygon));

    exportMapControl = new OpenLayers.Control.ExportMap();
                map.addControl(exportMapControl);
                map.addControl(new OpenLayers.Control.LayerSwitcher());
    //segundo los puntos
    //tercero el linear Ring
    //cuarto agrego el feature al vector OpenLayers.Feature.vector()
    //agregar el layer al mapa
    var style = { 
      strokeColor: '#0000ff', 
      strokeOpacity: 0.5,
      strokeWidth: 5,
      fillColor: "#0000ff",
      fillOpacity: 0.35
    };
    var attributes = {name: "circuito numero 1", bar: "foo"};
    for(key in poligonos.features){
            var cord = poligonos.features[key].geometry.coordinates
            for(c in cord){
              var array = cord[c[0]];
              var puntos= [];
              for (i in array){
                puntos[i] = new OpenLayers.Geometry.Point(array[i][0],array[i][1]).transform(new OpenLayers.Projection("EPSG:4326"),                                                                                            map.getProjectionObject());  
              }
                var ring = new OpenLayers.Geometry.LinearRing(puntos);
                var polygon = new OpenLayers.Geometry.Polygon([ring]);
                var feature = new OpenLayers.Feature.Vector(polygon,null,style);
                vectors.addFeatures([feature]);
            }
      }
      map.addLayer(vectors);
      function imprimiropen(){
        var content = window.document.getElementById("map"); // get you map details
    var newWindow = window.open(); // open a new window
    newWindow.document.write(content.innerHTML); // write the map into the new window
    newWindow.print(); // print the new window
      }
  function exportMap() {
                var canvas = OpenLayers.Util.getElement("exportedImage");
                //var canvas = new OpenLayers.Renderer.Canvas("exportedImage");
                exportMapControl.trigger(canvas);   
                
//                // set download url (toDataURL() requires the use of a proxy)
//                OpenLayers.Util.getElement("downloadLink").href = canvas.toDataURL();
            }
</script>
<button onclick="imprimiropen()">imprimir openlayers</button>
<button onclick="exportMap()">imagen openlayers</button>
<!-- <a id="downloadLink" href="#" target="_blank">Download Image</a> (-> Save Link as) -->
<button onclick="imprimirgmap()">imprimir gmap</button>
<p>Exported map:</p>
            <canvas id="exportedImage" class="smallmap"></canvas> <br />
{% endblock %}