<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<script type="text/javascript" src="http://openlayers.org/api/2.11/OpenLayers.js"></script>
    <link rel="stylesheet" type="text/css" href="http://openlayers.org/api/2.11/theme/default/style.css"></link>
    <script type="text/javascript"
      src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDX6Wo7o1pGgdTKaUg8VwiwPSpAimGmcMU&sensor=TRUE">
    </script>
    
</head>
<body>
<h1>GIS</h1>

{% block content %}
{% endblock%}


</body>
</html>